<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    #wrapper {
      height: 50px;
      background-color: rgb(126, 126, 126);

    }

    .tarbar {
      width: 800px;
      margin: 0 auto;
      line-height: 50px;
      display: flex;
      justify-content: space-evenly;
    }

    .tarbar a {
      text-decoration: none;
      color: #fff;
    }
  </style>
</head>

<body>

  <header>
    <div id="wrapper">
      <div class="tarbar">
        <div class='home'>
          <a href="/home">博客管理</a>
        </div>
        <div class='category'>
          <a href="/category">分类管理</a>
        </div>
        <div class='label'>
          <a href="/label">标签管理</a>
        </div>
        <div class='userInfo'>
          <a href="/userInfo">个人信息管理</a>
        </div>
        <div class="article">
          <a href="/home/editArticle">写文章</a>
        </div>

      </div>
    </div>
  </header>

  <div class='wrapper'>
    <div class="content">
      <h2>我是userInfo</h2>

    </div>
  </div>
</body>

</html>